<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://use.typekit.net/emv3zbo.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.digital.arizona.edu/lib/arizona-bootstrap/2.0.23/css/arizona-bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/tabs.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/resources.css">
    <link rel="stylesheet" href="../styles/endcard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Resources</title>
</head>
<body class="body">
    <script>
        const darkModePreference = localStorage.getItem("darkMode");
        if (darkModePreference === "enabled") {
            document.body.classList.add("dark-theme");
            document.getElementById("icon").src = "../images/night-mode.png";
        } else {
            document.body.classList.remove("dark-theme");
            document.getElementById("icon").src = "../images/contrast.png";
        }
    </script>
    <div class="header">
        <div class="web-title">
            StudentPluh
            <img id="char" class="char">
        </div>
        <div class="nav-buttons">
            <a class="nav" href="../index.html">
                <p class="button">
                    Home
                </p>
            </a>
            <a class="nav" href="../templates/resources.html">
                <p class="button">
                    Resources
                </p>
            </a>
            <a class="nav" href="../templates/search.html">
                <p class="button">
                    Textbooks
                </p>
            </a>
            <img src="../images/contrast.png" class="mode-icon button" id="icon">
        </div>
    </div>
    <div class="top-card">
        <p class="title1">
            Resources
        <p class="title2">
            Anything we find, is right here.
        </p>
    </div>
    <script src="../js/random.js"></script>
    
    <div class="tabContent">
        <div class="buttonContainer">
            <button onclick="showPanel(0,'background-color: var(--primary-color);')" class="active">Careers/ Internships</button>
            <button onclick="showPanel(1,'background-color: var(--primary-color);')" class="non-active">Textbooks</button>
            <button onclick="showPanel(2,'background-color: var(--primary-color);')" class="non-active">Chrome Extentions</button>
            <button onclick="showPanel(3,'background-color: var(--primary-color);')" class="non-active">Research</button>
            <button onclick="showPanel(4,'background-color: var(--primary-color);')" class="non-active">Essay Help</button>
            <button onclick="showPanel(5,'background-color: var(--primary-color);')" class="non-active">Scholarships</button>
            <button onclick="showPanel(6,'background-color: var(--primary-color);')" class="non-active">Etc.</button>
        </div>
        <div class="tabPanel">
            <div class ="Careers">
                <div class="row">
                    <div class ="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    StillHiring.today
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    StillHiring.today is a community-sourced list of tech companies that are hiring today. This resource is extremely helpful for those struggling to look for jobs in the tech industry!
                                </p>
                                <a class="link" href="https://stillhiring.today/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Indeed
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    "Indeed is the #1 job site in the world1 with over 300M unique visitors every month2. Indeed strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies. Every day, we connect millions of people to new opportunities."
                                </p>
                                <a class="link" href="https://www.indeed.com/about">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    LinkedIn
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Linkedin is an extremely helpful connection tool. It's the largest professional network which allows you to connecting with employers, while being able to showcase your capabilities and personality through your profile. It's highly recommended you create one before starting your professional careers!
                                </p>
                                <a class="link" href="https://www.linkedin.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Handshake
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Handshake is a great place to find jobs as a college student or graduate. They personalize job recommendations based on your information, which is helpful for finding the internship/co-op/job that's right for you!
                                </p>
                                <a class="link" href="https://joinhandshake.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    JOPWELL
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    JOPWELL is a career platform designed specifically for Black, Latinx, and Native American students and professionals. Here, internship and job opportunities are opened up for minorities looking to start or extend their careers!
                                </p>
                                <a class="link" href="https://www.jopwell.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    FlexJobs
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    FlexJobs is a great place to find remote jobs. This job-board is like any other, however, they mainly focus on flexible and remote jobs. One downside to the site is that it's a paid subscription, though it maintains it's high ratings!
                                </p>
                                <a class="link" href="https://www.flexjobs.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>      
        </div>
        <div class="tabPanel">
            <div class="Textbooks">
                <!---
                <p class="text_box">
                    Textbooks
                </p>
                -->
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Z-Library
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Need textbooks for free? Z-Library is the world's largest ebook library, with almost every textbook available at your disposal. If you don't need a hard-copy, just come here!
                                </p>
                                <a class="link" href="https://z-lib.is/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Library Genesis
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Library Genesis is an file-sharing based library which hosts scholarly journals, academic books, and way more. Here, students can find textbooks for classes and articles for projects!
                                </p>
                                <a class="link" href="https://z-lib.is/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    SlugBooks
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Need a hard-copy textbook? SlugBooks is a textbook search engine with access to online stores such as Amazon, AbeBooks, eCampus Buy, Textbooks.com and more!
                                </p>
                                <a class="link" href="https://www.slugbooks.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    BookFinder
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    BookFinder scans the inventories of over 100,000 booksellers located all around the world. Here, you're able to find not only textbooks, but much more!
                                </p>
                                <a class="link" href="https://www.bookfinder.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    CampusBooks
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    CampusBooks is a price comparison platform mainly for college textbooks!
                                </p>
                                <a class="link" href="https://www.campusbooks.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Lit Solutions
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    LitSolutions is by far the most useful textbook answer library. Here, you're able to search your textbook and input the problem you want answered. It then gives you a step by step solution!
                                </p>
                                <a class="link" href="https://www.litsolutions.org/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Extentions">
                <!--
                <p class="text_box">
                    Chrome Extentions
                </p>
                -->
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Better Canvas
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Better Canvas improves the overall look and feel! With features such as dark-mode, notes, an improved to-do list and more, it's perfect for students!
                                </p>
                                <a class="link" href="https://chrome.google.com/webstore/detail/better-canvas/cndibmoanboadcifjkjbdpjgfedanolh">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Canvas+
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Canvas+ offeres a bunch of small features that give students better lifestyle changes such as grades on the dashboard, due-dates, and improved navigation tabs!
                                </p>
                                <a class="link" href="https://chrome.google.com/webstore/detail/canvas%20/bfeldahomapdhmnmedanpodjpkfjohen">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Tasks for Canvas
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Tasks for Canvas focuses on creating a no-hassle environment for you! This extension gives you an extremely useful side-bar for your assignments and your to-dos!
                                </p>
                                <a class="link" href="https://chrome.google.com/webstore/detail/tasks-for-canvas/kabafodfnabokkkddjbnkgbcbmipdlmb">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    MyBib
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    MyBib is a citation generator useful for those writing essays!
                                </p>
                                <a class="link" href="https://chrome.google.com/webstore/detail/mybib-free-citation-gener/phidhnmbkbkbkbknhldmpmnacgicphkf">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Weava Highlighter
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Weava Highlighter allows you to simplify your research process. It features the ability to highlight websites and pdfs while being able to revisit them with a single click!
                                </p>
                                <a class="link" href="https://chrome.google.com/webstore/detail/weava-highlighter-pdf-web/cbnaodkpfinfiipjblikofhlhlcickei">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    TLDR
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    TLDR is an extremely useful tool for students. It allows you to summarize articles, text, documents, webpages, and essays with the click of a button!
                                </p>
                                <a class="link" href="https://chrome.google.com/webstore/detail/tldr-this-free-automatic/jjmnbidkmmabkalampbilajnheeokpoj">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Research">
                <!--
                <p class="text_box">
                    Research
                </p>
                -->
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Google Scholar
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Google Scholar is a web search engine that "indexes the full text or metadata of scholarly literature". With this, finding research material has never been easier!
                                </p>
                                <a class="link" href="https://scholar.google.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Research Gate
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Research Gate is a social network for scientists and researchers. Here, you're able to find research papers, questions, and answers by professionals!
                                </p>
                                <a class="link" href="https://www.researchgate.net/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Elicit
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Elicit is an AI research assistant. It's able to find relevant papers and information on your topic!
                                </p>
                                <a class="link" href="https://elicit.org/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    eric.ed.gov
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Eric.ed.gov hosts an online library with education research and information. Here, you're able to find the papers and articles you need!
                                </p>
                                <a class="link" href="https://eric.ed.gov/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Virtual Learning RC
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Virtual Learning Resource Center is a google alternative safe search engine for students. It offers information anywhere from art, social sciences, social issues, math, science, and more!
                                </p>
                                <a class="link" href="https://www.virtuallrc.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Essays">
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    QuillBot
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    QuillBot "scans your writing and alerts you on any errors in grammar, spelling, punctuation, word misuse, and more". Perfect for students looking to elevate their writing!
                                </p>
                                <a class="link" href="https://quillbot.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Grammarly
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Grammarly is a free AI writing assistant. It helps you spot errors in your writing such as grammar and word use!
                                </p>
                                <a class="link" href="https://app.grammarly.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Kipper
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Kipper is an AI essay writer. This service uses a "no plagiarism script" with "built-in AI detectors" to generate undetectable AI generated essays!
                                </p>
                                <a class="link" href="https://www.kipper.ai/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Scholarships">
               <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    GoingMerry
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    GoingMerry verifies real scholarships and presents them to you on their site!
                                </p>
                                <a class="link" href="https://www.goingmerry.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    College Scholarships
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    collegescholarships.com helps you find national and local scholarships!
                                </p>
                                <a class="link" href="https://www.collegescholarships.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Bold
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Bold hosts a large amount of scholarships, and helps you find scholarships that fit your criteria.
                                </p>
                                <a class="link" href="https://bold.org/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
               </div>
               <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Scholarships.com
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Scholarships.com is a scholarship search platform designed to match you to college scholarships that you qualify for!
                                </p>
                                <a class="link" href="https://www.scholarships.com/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    JLV College Counseling
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    JLV College Counseling has a scholarship database which filters to you.
                                </p>
                                <a class="link" href="https://jlvcollegecounseling.com/scholarships/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Etc">
                <div class="row">
                    <div class="card" onclick="toggleFlip(this)">
                        <div class="front">
                            <div class="chead">
                                <p class="card-title">
                                    Docsity
                                </p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back-wrapper">
                                <p style="align-items: center;" class="description">
                                    Docsity is an extremely useful tool when studying for upcoming exams. This site is a crowd-sourced study resource, which allows you to share exams, practice exams, and more!
                                </p>
                                <a class="link" href="https://www.docsity.com/en/usa/">
                                    Take Me There!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                    <div class="card" style="opacity: 0; cursor: default;">
                        <div class="chead">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/tabs.js"></script>

    <div class="end-card">
        <p class="end-text">
            Created By:  
        </p>
        <p class="end-text">
            Francis Gabriel Anos
        </p>
        <div class="francis-socials">
            <a href="https://www.linkedin.com/in/francis-g-anos" target="_blank">
                <i class="fa-brands fa-linkedin linkedin-icon"></i>
            </a>
            <a href="https://github.com/gabrielshy" target="_blank">
                <i class="fa-brands fa-square-github github-icon"></i>
            </a>
        </div>
        <div>
            <p class="end-text">
                and Elijah James
            </p>
        </div>
        <div class="elijah-socials">
            <a href="https://www.linkedin.com/in/elijah-james-022536248/" target="_blank">
                <i class="fa-brands fa-linkedin linkedin-icon"></i>
            </a>
            <a href="https://github.com/Eli-69" target="_blank">
                <i class="fa-brands fa-square-github github-icon"></i>
            </a>
        </div>
    </div>
    <script>
        function toggleFlip(card) {
          card.classList.toggle("flipped");
        }
      </script>
    <script src="../js/pagemode.js"></script>
</body>
</html>