<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://use.typekit.net/emv3zbo.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.digital.arizona.edu/lib/arizona-bootstrap/2.0.23/css/arizona-bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/tabs.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/resources.css">
    <link rel="stylesheet" href="../styles/endcard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Resources</title>
</head>
<body class="body">
    <script>
        const darkModePreference = localStorage.getItem("darkMode");
        if (darkModePreference === "enabled") {
            document.body.classList.add("dark-theme");
            document.getElementById("icon").src = "../images/night-mode.png";
        } else {
            document.body.classList.remove("dark-theme");
            document.getElementById("icon").src = "../images/contrast.png";
        }
    </script>
    <div class="header">
        <div class="web-title">
            StudentPluh
            <img id="char" class="char">
        </div>
        <div class="nav-buttons">
            <a class="nav" href="../index.html">
                <p class="button">
                    Home
                </p>
            </a>
            <a class="nav" href="../templates/resources.html">
                <p class="button">
                    Resources
                </p>
            </a>
            <a class="nav" href="../templates/search.html">
                <p class="button">
                    Textbooks
                </p>
            </a>
            <img src="../images/contrast.png" class="mode-icon button" id="icon">
        </div>
    </div>
    <div class="top-card">
        <p class="title1">
            Resources
        <p class="title2">
            Anything we find, is right here.
        </p>
    </div>
    <script src="../js/random.js"></script>
    
    <div class="tabContent">
        <div class="buttonContainer">
            <button onclick="showPanel(0,'background-color: var(--primary-color);')" class="active">Careers/Internships</button>
            <button onclick="showPanel(1,'background-color: var(--primary-color);')" class="non-active">Textbooks</button>
            <button onclick="showPanel(2,'background-color: var(--primary-color);')" class="non-active">Chrome Extentions</button>
            <button onclick="showPanel(3,'background-color: var(--primary-color);')" class="non-active">Research</button>
            <button onclick="showPanel(4,'background-color: var(--primary-color);')" class="non-active">Essay Help</button>
            <button onclick="showPanel(5,'background-color: var(--primary-color);')" class="non-active">Scholarships</button>
            <button onclick="showPanel(6,'background-color: var(--primary-color);')" class="non-active">Etc.</button>
        </div>
        <div class="tabPanel">
            <div class ="Careers">
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://stillhiring.today/">
                                <p class="card-title">
                                    StillHiring.today
                                </p>
                            </a>
                        </div>
                        <!--
                        <div class="cdisc">
                            <p class="disc">
                                
                            </p>
                        </div>
                        -->
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.indeed.com/">
                                <p class="card-title">
                                    Indeed
                                </p>
                            </a>
                        </div>
                        <!--
                        <div class="ctags">
        
                        </div>
                        <div class="cdisc">
        
                        </div>

                        <p class="text_box">
                            Careers/Internships
                        </p>
                         -->
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.linkedin.com/">
                                <p class="card-title">
                                    Linkedin
                                </p>
                            </a>
                        </div>
                        <!--
                        <div class="ctags">
        
                        </div>
                        <div class="cdisc">
        
                        </div>
                        -->
                    </div>
                </div>
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://joinhandshake.com/">
                                <p class="card-title">
                                    Handshake
                                </p>
                            </a>
                        </div>
                        <!--
                        <div class="cdisc">
                            <p class="disc">
                                
                            </p>
                        </div>
                        -->
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.jopwell.com/">
                                <p class="card-title">
                                    JOPWELL
                                </p>
                            </a>
                        </div>
                        <!--
                        <div class="ctags">
        
                        </div>
                        <div class="cdisc">
        
                        </div>

                        <p class="text_box">
                            Careers/Internships
                        </p>
                         -->
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.flexjobs.com/">
                                <p class="card-title">
                                    FlexJobs
                                </p>
                            </a>
                        </div>
                        <!--
                        <div class="ctags">
        
                        </div>
                        <div class="cdisc">
        
                        </div>
                        -->
                    </div>
                </div>
            </div>      
        </div>
        <div class="tabPanel">
            <div class="Textbooks">
                <!---
                <p class="text_box">
                    Textbooks
                </p>
                -->
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://z-lib.io/">
                                <p class="card-title">
                                    Z-Library
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://libgen.li/">
                                <p class="card-title">
                                    Library Genesis
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.slugbooks.com/">
                                <p class="card-title">
                                    Slug Books
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.bookfinder.com/books/college_textbooks/">
                                <p class="card-title">
                                    Book Finder
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.campusbooks.com/">
                                <p class="card-title">
                                    Campus Books
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.litsolutions.org/">
                                <p class="card-title">
                                    Lit Solutions
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Extentions">
                <!--
                <p class="text_box">
                    Chrome Extentions
                </p>
                -->
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/better-canvas/cndibmoanboadcifjkjbdpjgfedanolh">
                                <p class="card-title">
                                    Better Canvas
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/canvas%20/kdkadcnebmokaadholinmnpjelphnghh">
                                <p class="card-title">
                                    Canvas +
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/tasks-for-canvas/kabafodfnabokkkddjbnkgbcbmipdlmb">
                                <p class="card-title">
                                    Tasks for Canvas
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/mybib-free-citation-gener/phidhnmbkbkbkbknhldmpmnacgicphkf">
                                <p class="card-title">
                                    MyBib
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/weava-highlighter-pdf-web/cbnaodkpfinfiipjblikofhlhlcickei">
                                <p class="card-title">
                                    Weava Highlighter
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://chrome.google.com/webstore/detail/tldr-this-free-automatic/jjmnbidkmmabkalampbilajnheeokpoj">
                                <p class="card-title">
                                    TLDR
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Research">
                <!--
                <p class="text_box">
                    Research
                </p>
                -->
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://scholar.google.com/">
                                <p class="card-title">
                                    Google Scholar
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.researchgate.net/">
                                <p class="card-title">
                                    Research Gate
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://elicit.org/">
                                <p class="card-title">
                                    Elicit
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://archive.ph/">
                                <p class="card-title">
                                    Archive.ph
                                </p>
                            </a>
                        </div>.
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://eric.ed.gov/">
                                <p class="card-title">
                                    eric.ed.gov
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.virtuallrc.com/">
                                <p class="card-title">
                                    Virtual Learning RC
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Essays">
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://quillbot.com/">
                                <p class="card-title">
                                    QuillBot
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://app.grammarly.com/">
                                <p class="card-title">
                                    Grammarly
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.kipper.ai/">
                                <p class="card-title">
                                    Kipper
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://getschooled.com/college-review/">
                                <p class="card-title">
                                    GetSchooled
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2" style="opacity: 0;">
                        <div class="chead">
                        </div>
                    </div>
                    <div class="card3" style="opacity: 0;">
                        <div class="chead">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Scholarships">
               <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.goingmerry.com/">
                                <p class="card-title">
                                    GoingMerry
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2" >
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.collegescholarships.com/">
                                <p class="card-title">
                                    College Scholarships
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://bold.org/">
                                <p class="card-title">
                                    Bold
                                </p>
                            </a>
                        </div>
                    </div>
               </div>
               <div class="row">
                <div class ="card1">
                    <div class="chead">
                        <a style="text-decoration: none;" href="https://www.scholarships.com/">
                            <p class="card-title">
                                Scholarships.com
                            </p>
                        </a>
                    </div>
                </div>
                <div class="card2">
                    <div class="chead">
                        <a style="text-decoration: none;" href="https://jlvcollegecounseling.com/">
                            <p class="card-title">
                                JLV College Counseling
                            </p>
                        </a>
                    </div>
                </div>
                <div class="card3" style="opacity: 0;">
                    <div class="chead">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tabPanel">
            <div class="Etc">
                <div class="row">
                    <div class ="card1">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.docsity.com/en/usa/">
                                <p class="card-title">
                                    Docsity
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2" style="opacity: 0;">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.linkedin.com/">
                                <p class="card-title">
                                    Linkedin
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3" style="opacity: 0;">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.linkedin.com/">
                                <p class="card-title">
                                    Linkedin
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class ="card1" style="opacity: 0;">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.docsity.com/en/usa/">
                                <p class="card-title">
                                    Docsity
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card2" style="opacity: 0;">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.linkedin.com/">
                                <p class="card-title">
                                    Linkedin
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card3" style="opacity: 0;">
                        <div class="chead">
                            <a style="text-decoration: none;" href="https://www.linkedin.com/">
                                <p class="card-title">
                                    Linkedin
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/tabs.js"></script>

    <div class="end-card">
        <p class="end-text">
            Created By:  
        </p>
        <p class="end-text">
            Francis Gabriel Anos
        </p>
        <div class="francis-socials">
            <a href="https://www.linkedin.com/in/francis-g-anos" target="_blank">
                <i class="fa-brands fa-linkedin linkedin-icon"></i>
            </a>
            <a href="https://github.com/gabrielshy" target="_blank">
                <i class="fa-brands fa-square-github github-icon"></i>
            </a>
        </div>
        <div>
            <p class="end-text">
                and Elijah James
            </p>
        </div>
        <div class="elijah-socials">
            <a href="https://www.linkedin.com/in/elijah-james-022536248/" target="_blank">
                <i class="fa-brands fa-linkedin linkedin-icon"></i>
            </a>
            <a href="https://github.com/Eli-69" target="_blank">
                <i class="fa-brands fa-square-github github-icon"></i>
            </a>
        </div>
    </div>
    <script src="../js/pagemode.js"></script>
</body>
</html>