<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">

    <link href="https://use.typekit.net/emv3zbo.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.digital.arizona.edu/lib/arizona-bootstrap/2.0.23/css/arizona-bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/tabs.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/resources.css">
    <link rel="stylesheet" href="../styles/endcard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Resources</title>
</head>
<body class="body">
    <script>
        const darkModePreference = localStorage.getItem("darkMode");
        if (darkModePreference === "enabled") {
            document.body.classList.add("dark-theme");
            document.getElementById("icon").src = "../images/night-mode.png";
        } else {
            document.body.classList.remove("dark-theme");
            document.getElementById("icon").src = "../images/contrast.png";
        }
    </script>
    <div class="header">
        <div class="web-title">
            StudentPluh
            <img id="char" class="char">
        </div>
        <div class="nav-buttons">
            <a class="nav" href="../index.html">
                <p class="button">
                    Home
                </p>
            </a>
            <a class="nav" href="../templates/resources.html">
                <p class="button">
                    Resources
                </p>
            </a>
            <a class="nav" href="../templates/search.html">
                <p class="button">
                    Textbooks
                </p>
            </a>
            <img src="../images/contrast.png" class="mode-icon button" id="icon">
        </div>
    </div>
    <div class="top-card">
        <p class="title1">
            Resources
        <p class="title2">
            Anything we find, is right here.
        </p>
    </div>
    <script src="../js/random.js"></script>
    
    <div class="tabContent">
        <div class="buttonContainer">
            <button onclick="showPanel(0,'#f44336')">Careers/Internships</button>
            <button onclick="showPanel(1,'#f44336')">Textbooks</button>
            <button onclick="showPanel(2,'#f44336')">Chrome Extentions</button>
            <button onclick="showPanel(3,'#f44336')">Research</button>
            <button onclick="showPanel(4,'#f44336')">Essay Help</button>
            <button onclick="showPanel(5,'#f44336')">Scholarships</button>
            <button onclick="showPanel(6,'#f44336')">Etc.</button>
        </div>
        <div class="tabPanel">Careers: Content</div>
        <div class="tabPanel">Textbook: Content</div>
        <div class="tabPanel">Extentions: Content</div>
        <div class="tabPanel">Research: Content</div>
        <div class="tabPanel">Essay: Content</div>
        <div class="tabPanel">Scholarship: Content</div>
        <div class="tabPanel">Etc.: Content</div>
    </div>

    <script src="../js/tabs.js"></script>

    <div class="end-card">
        <p class="end-text">
            Created By:  
        </p>
        <p class="end-text">
            Francis Gabriel Anos
        </p>
        <div class="francis-socials">
            <a href="https://www.linkedin.com/in/francis-g-anos" target="_blank">
                <i class="fa-brands fa-linkedin linkedin-icon"></i>
            </a>
            <a href="https://github.com/gabrielshy" target="_blank">
                <i class="fa-brands fa-square-github github-icon"></i>
            </a>
        </div>
        <div>
            <p class="end-text">
                and Elijah James
            </p>
        </div>
        <div class="elijah-socials">
            <a href="https://www.linkedin.com/in/elijah-james-022536248/" target="_blank">
                <i class="fa-brands fa-linkedin linkedin-icon"></i>
            </a>
            <a href="https://github.com/Eli-69" target="_blank">
                <i class="fa-brands fa-square-github github-icon"></i>
            </a>
        </div>
    </div>
    <script src="../js/pagemode.js"></script>
</body>
</html>