.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 100vh;
}

.top-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 400px;
}

.title-head {
    display: flex;
    justify-content: column;

}

.title1 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: bold;
}

.search {
    color: #353535;
    width: 600px;
    height: 50px;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    border-color: #353535;
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
}

.search::placeholder {
    color: #353535;
}

input, select, textarea{
    color: #353535;
}

.search-button {
    height: 50px;
    width: 50px;
    border-width: 1px;
    background-color: white;
    border-radius: 15px;
    transition: transform 0.2s;
}

.search-button:hover {
    transform: scale(1.05);
}

.search-button:active {
    transform: scale(.99);
}

.fa-magnifying-glass {
    color: #353535;
}



@media only screen and (max-width: 655px ){
    .body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--primary-color);
        height: 100vh;
    }
    
    .top-card {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 300px;
    }

    .title1 {
        color: var(--secondary-color);
        font-size: 17.5px;
        font-weight: bold;
    }
    
    .search {
        color: #353535;
        width: 300px;
        height: 25px;
        text-decoration: none;
        border: solid;
        border-width: 1px;
        border-color: #353535;
        outline: none;
        border-radius: 15px;
        margin-top: 10px;
        padding-left: 10px;
        background-color: rgb(255, 255, 255);
    }
    
    .search::placeholder {
        color: #353535;
        font-size: 12.5px;
    }

    .search-button {
        height: 25px;
        width: 25px;
        border-width: 1px;
        background-color: white;
        border-radius: 5px;
        transition: transform 0.2s;
    }
}

