.body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 1100px;
}

.top-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 400px;
}

.title-head {
    display: flex;
    justify-content: column;

}

.title1 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: bold;
}

.title2 {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
}

.search {
    color: var(--secondary-color);
    width: 600px;
    height: 50px;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    border-color: #353535;
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
}

.search::placeholder {
    color: #353535;
}

input, select, textarea{
    color: #353535;
}