.body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 1100px;
}

.top-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 400px;
}

.title-head {
    display: flex;
    justify-content: column;

}

.title1 {
    color: #353535;
    font-size: 40px;
    font-weight: bold;
}

.title2 {
    color: #353535;
    font-size: 20px;
    font-weight: bold;
}

.search {
    color: rgb(255, 244, 224);
    width: 600px;
    height: 50px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 15px;
    padding-left: 20px;
    background-color: #353535;
}

.search::placeholder {
    color: rgb(255, 244, 224);
}

input, select, textarea{
    color: rgb(255, 244, 224);
}