.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 1000px;
}

.title-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 300px;
    top: 200px;
}

.title-container {
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.title-text {
    font-size: 30px;
    font-weight: bold;
}

.results-card {
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: var(--primary-color);
    height: 600px;
    transition: transform 1s;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 350px;
    width: 1000px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100%;
}

.price {
    color: #353535;
    font-size: 20px;
    font-weight: bold;
}

.product-image {
    width: 100px;
}

.product-name {
    color: #353535;
    font-size: 20px;
    font-weight: bold;
}

.amazon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    height: 100px;
    width: 900px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
}

.amazon-logo {
    width: 120px;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.redir-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

.redir {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-style: solid;
    border: 1px;
    background-color: #353535;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    transition: transform 0.5s;
}

.redir:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.redir-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.coming-soon {
    color: #353535;
    font-weight: bold;
    font-size: 15px;
}