.tabContent {
    width: 100%;
    height: 2000px;
    
    
}

.tab-button {
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    
}


.tabContent .buttonContainer {
    height: 20%;
}

.tabContent .buttonContainer button {
    width: 14.2857143%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

 .tabContent .buttonContainer button:hover {
    transform: scale(1.05);
} 

.tabContent .tabPanel {
    height: 85%;
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
    font-size: 22px;
    display: flex;
    
    
}

/*.Careers {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
} */

.card1 {
    border-radius: 25px;
    width: 475px;
    height: 400px;
    margin: 10px;
    margin-left: 30px;
    background-color: var(--secondary-color);
    float: left;
}

.card2 {
    border-radius: 25px;
    width: 475px;
    height: 400px;
    margin: 10px;
    margin-left: 10px;
    background-color: var(--secondary-color);
    float: left;
}

.card3 {
    border-radius: 25px;
    width: 475px;
    height: 400px;
    margin: 10px;
    margin-left: 10px;
    background-color: var(--secondary-color);
    float: left;
}



.text_box {
    font-size: 45px;
    font-weight: bold;
    position: relative;
    top: -80px;
    color: var(--secondary-color);
}

.Textbooks {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
}

.Extentions {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
}

.Research {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
}

.Essays {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
}

.Scholarships {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
}

.Etc {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: var(--secondary-color);
}


