.tabContent {
    width: 100%;
    height: 2000px;
}

.tab-button {
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
}


.tabContent .buttonContainer {
    height: 20%;
}

.tabContent .buttonContainer button {
    width: 14.2857143%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: bold;
    background-color: #ffffff;
}

/* .tabContent .buttonContainer button:hover {
background-color: #b33535; 
} */

.tabContent .tabPanel {
    height: 85%;
    background-color: pink;
    color: blue;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
    font-size: 22px;
    display: flex;
    
}

.Careers {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}

.text_box {
    font-size: 45px;
    font-weight: bold;
    position: relative;
    top: -80px;
}

.Textbooks {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}

.Extentions {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}

.Research {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}

.Essays {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}

.Scholarships {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}

.Etc {
    border-radius: 25px;
    width: 1385px;
    height: 500px;
    margin: 10px;
    margin-left: 70px;
    background-color: rgb(68, 68, 68);
}


